APP_PORT="Port for the Express.js web server"

#Database
DB_NAME="Database name"
DB_USER="Database username"
DB_PASSWORD="Database password"
DATABASE_URL="Database connection string"

#Hasura
HASURA_GRAPHQL_ENABLE_CONSOLE="The meaning can be either false or true"
HASURA_GRAPHQL_ADMIN_SECRET="Secret key to enter hasura"

#Redis
REDIS_CONTAINER_NAME="Radis container name"
REDIS_PORT="Radis port"
REDIS_HOST="Host for connecting to Redis IP or name of Docker container with Redis"

# Firebase Storage Settings
FIREBASE_PROJECT_ID="FIREBASE_PROJECT_ID: ID your Firebase project. You can find it in the Firebase console -> Project Settings."
# FIREBASE_PRIVATE_KEY: Firebase service account private key.
# This is a long string obtained from the service account credentials JSON file.
# In the .env file, line breaks (\n) may need to be escaped (\\n).
# It is recommended to use a JSON file for production environments..
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggS...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL="FIREBASE_CLIENT_EMAIL: Email Firebase service account client. You can find it in the service account credentials JSON file.."
FIREBASE_STORAGE_BUCKET="FIREBASE_STORAGE_BUCKET: URL of your Firebase Storage bucket. Typically has the format <your-project-id>.appspot.com. You can find it in the Firebase console -> Storage (under the Overview section)."